@font-face {
  font-family: Josefin Sans;
  src: url(font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Aleo;
  src: url(font/Aleo/Aleo-VariableFont_wght.ttf);
}
.container {
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
}

.heading-1 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
}

.heading-2 {
  color: #FFF;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}

.heading-3 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.heading-4 {
  color: #FFF;
  font-family: Aleo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.heading-5 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.heading-6 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2px;
}

.subheading {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 6.82px;
}

.body-1 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}

.body-2 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
}

.header .header__background {
  background-image: url(img/HeaderBackground.png);
  background-position: center;
  background-size: cover;
  padding-top: 295px;
  padding-bottom: 120px;
}
.header .header__background .container .container__company-name {
  display: flex;
  flex-direction: column;
}
.header .header__background .container .container__company-name .heading-1 {
  text-align: center;
  margin-bottom: 8px;
}
.header .header__background .container .container__company-name .subheading {
  text-align: center;
}
.header .header__background .container .container__search-tab {
  position: relative;
  max-width: 647px;
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 211px;
}
.header .header__background .container .container__search-tab .container__textfield {
  height: 60px;
  max-width: 647px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 36px;
}
.header .header__background .container .container__search-tab .container__textfield ::placeholder {
  color: Text Grey;
}
.header .header__background .container .container__search-tab .container__input-button {
  display: inline-block;
  width: 139px;
  height: 52px;
  background-color: #5373FD;
  position: absolute;
  right: 5px;
  top: 4px;
  border: none;
}
.header .header__background .container .container__scroll-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.header .header__background .container .container__scroll-down .arrow-down {
  width: 14px;
  height: 16px;
}
.header .header__navigation {
  background: #5373FD;
}
.header .header__navigation .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}
.header .header__navigation .navigation .burger-menu {
  display: none;
  flex-direction: column;
  gap: 9px;
}
.header .header__navigation .navigation .burger-menu .burger-menu__line {
  width: 40px;
  border-bottom: 2px solid white;
}
.header .header__navigation .navigation .menu ul {
  display: flex;
  gap: 40px;
}
.header .header__navigation .navigation .menu ul a {
  text-decoration: none;
  color: #FFF;
}
.header .header__navigation .navigation .menu ul a li {
  display: inline-block;
}

.why-us {
  background-image: url(img/WhyBackground.png);
  background-position: center;
  background-size: cover;
}
.why-us .why-us__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 124px;
  padding-bottom: 124px;
}
.why-us .why-us__content .why-us__text {
  max-width: 648px;
  width: 100%;
}
.why-us .why-us__content .why-us__text .why-us__button {
  width: 213px;
  height: 60px;
  background-color: #5373FD;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}
.why-us .why-us__content .why-us__text .body-2 {
  margin-top: 24px;
  margin-bottom: 32px;
}
.why-us .why-us__content .why-us__photo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.why-us .why-us__content .why-us__photo img {
  max-width: 350px;
  width: 100%;
}
.why-us .why-us__content .why-us__photo .lake {
  margin-right: 74px;
}
.why-us .why-us__content .why-us__photo .cliff {
  margin-left: 74px;
}

.steps {
  background-color: #333333;
  padding-top: 122px;
  padding-bottom: 45px;
}
.steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.steps .container .step {
  max-width: 424px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.book-now-1 {
  background-image: url(img/bookHouse.png);
  background-position: center;
  background-size: cover;
}
.book-now-1 .container {
  padding-top: 220px;
  padding-bottom: 120px;
}
.book-now-1 .container .book__content-1 {
  max-width: 648px;
  width: 100%;
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.book-now-1 .container .book__content-1 button {
  width: 213px;
  height: 60px;
  margin-top: 8px;
  background: #5373FD;
  border: none;
  color: #FFF;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.book-now-2 {
  background-image: url(img/bookSpain.png);
  background-position: center;
  background-size: cover;
}
.book-now-2 .container {
  padding-top: 220px;
  padding-bottom: 120px;
}
.book-now-2 .container .book__content-2 {
  max-width: 648px;
  width: 100%;
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
}
.book-now-2 .container .book__content-2 button {
  width: 213px;
  height: 60px;
  margin-top: 8px;
  background: #5373FD;
  border: none;
  color: #FFF;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.what-say {
  background-image: url(img/WhatSayBG.png);
  background-position: center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 180px;
}
.what-say .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.what-say .container .what-say__content {
  display: flex;
  justify-content: center;
}
.what-say .container .what-say__content img {
  height: 100%;
}
.what-say .container .what-say__content .what-say__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #333;
}

.footer {
  background-color: #000000;
  display: none;
}
.footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer .container .social-row {
  display: flex;
  gap: 32px;
  margin-top: 12px;
}
.footer .container .social-row svg {
  width: 32px;
}
.footer .container .social-row svg :hover {
  fill: #5373FD;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
  .why-us .why-us__content .why-us__text {
    max-width: 558px;
  }
  .book-now-1 .container .book__content-1 {
    max-width: 558px;
  }
  .book-now-2 .container .book__content-2 {
    max-width: 558px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    box-sizing: border-box;
  }
  .why-us .why-us__content .why-us__photo .lake {
    margin-right: 36px;
  }
  .why-us .why-us__content .why-us__photo .cliff {
    margin-left: 36px;
  }
  .why-us .why-us__content .why-us__text {
    max-width: 550px;
  }
}
@media (max-width: 850px) {
  .container {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .header .header__navigation .navigation {
    flex-direction: column;
    height: auto;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .why-us .why-us__content {
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column-reverse;
    gap: 37px;
  }
  .why-us .why-us__content .why-us__text {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-us .why-us__content .why-us__text .heading-2 {
    text-align: center;
  }
  .why-us .why-us__content .why-us__text .body-2 {
    text-align: center;
  }
  .why-us .why-us__content .why-us__photo {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .why-us .why-us__content .why-us__photo img {
    width: 49%;
  }
  .why-us .why-us__content .why-us__photo .lake {
    margin-right: 0;
  }
  .why-us .why-us__content .why-us__photo .cliff {
    margin-left: 0;
  }
  .steps {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .steps .container {
    flex-direction: column;
    gap: 60px;
  }
  .book-now-1 .container .book__content-1 {
    max-width: fit-content;
  }
  .book-now-2 .container .book__content-2 {
    max-width: fit-content;
  }
}
@media (max-width: 630px) {
  .container {
    max-width: 540px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .header .header__navigation .navigation {
    position: relative;
  }
  .header .header__navigation .navigation .burger-menu {
    display: flex;
    position: absolute;
    right: 18px;
  }
  .header .header__navigation .navigation .menu {
    display: none;
  }
}